#By default ignore all
*/

#Add only specific files

!1_hello
!1_hello/**

!app
!app/**

!2_structured_output
!2_structured_output/**


!backend
!backend/**

!.gitignore

!compose.yaml
!Docker


#Donot include any .env files
*.env
*.swp
